@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.f-wrapper{
    
    font-family: "Poppins", sans-serif;
    color: #fafafa;
}

.f-container{
    padding-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 440px;
    background-color: black;
}

.email-input {
    position: relative;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 40px;
  }
  
  .email-input input[type="text"] {
    width: 100%; 
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  .email-input .send-btn {
    position: absolute;
    right: 10px;
    top: 12px; 
    cursor: pointer;
  }
  .footer-title{
    font-size: 24px;
  }

  .footer-ul li{
    padding-top: 20px;
  }

  .footer-ul{
    list-style: none;
  }

  .footer-subtitle{
    font-size: 16px;
  }

  .footer-menu{
    width: 200px;
  }

  table td{
    padding: 3px;
  }

  .social-panel{
    display: flex;
    justify-content: space-between;
  }