*{
    padding: 0;
    margin: 0;
}
.welcome{
    display: flex;
    flex-direction: row;
    
}
.navigate-panel a:hover{
    color: red;
}
.navigate-panel a{
    text-decoration: none;
   
}
.username{
    color: blue;
    padding-left: 20px;
}

.my{
    display: flex;
   justify-content: space-around;
   width: 100%;
    
}
.my ul{
    list-style: none;
}
.my-account{
    width: 30%;
}

.my-account ul{
    padding: 20px;
    margin-left: 30px;
}
.my-account ul li{
    margin-left: 40px;
}
.my-account ul li ul li{
    margin-left: -20px;
}

.navigate{
    margin: 0px 90px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.profile{
    width: 70%;
    box-shadow: 0 0 3px #efddddfb;
   
}
.details{
    padding-left: 80px;
   
}
.edit-profile{
    color: red;
    padding-top: 40px;
    padding-bottom: 10px;
}
.name{
    display: flex;
    justify-content:space-between;
}
l{
    padding: auto;
}